#worldmoney{
   margin: 0px 0px 0px 625px;
}   

#worldname{
    margin: 0px 0px 0px 10px;
 }   


 .buybtn{
    margin: 0px 0px 0px 300px ;
 }

#test{
   background-image: url('Blackground.png');
}
 .lesdeux{
   position: relative;
   column-width: auto;
   grid-row: 200px;
   margin-top: -400px;
  
}
.ledeuxime{
   margin-top: 50px;
}

.lepremier{
   top: 10px;
}
.progressbar{
   height: 5 px;
}