<body id="test">  
    <mat-toolbar color="primary">
        <span><img class="roundtitle" [attr.src]="server+world.logo" /></span>
        <span id="worldname"> {{world.name}} </span>
        <span id="worldmoney">Pokédollars: {{world.money| bigvalue}}</span>
        <span class="buybtn"> Buy : <button mat-raised-button (click)="cycle()">{{qtmulti}}</button> </span>
        <span><button mat-raised-button color="accent" [matBadge]="badgeManagers" [matBadgeHidden]="badgeManagers==0" (click)="showManagers = !showManagers">Managers</button></span>
    </mat-toolbar>

    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="lesdeux">
                <div class="lepremier">
                    <app-product [prod]="world.products.product[0]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>

                </div>

                <div class="ledeuxieme">
                    <app-product [prod]="world.products.product[1]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>

                </div>

                <div class="ledeuxieme">
                    <app-product [prod]="world.products.product[2]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>

                </div>
                <div *ngIf="showManagers" class="modal">
                    <div>
                        <h1 class="title">Managers make you feel better !</h1>
                    </div>
                    <div>
                        <div *ngFor="let manager of world.managers.pallier">
                            <div *ngIf="!manager.unlocked" class="managerslayout">
                                <div>
                                    <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
                                </div>
                                <div>
                                    <div class="managername"> {{ manager.name}} </div>
                                    <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
                                    <div class="managercost"> {{ manager.seuil}} </div>
                                </div>
                                <div>
                                    <div class="buybtn"><button mat-raised-button color="accent" class="hirebutton" (click)="hireManager(manager)"
                                        [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</button></div>
                                </div>
                            </div>
                        </div>
                        <button class="closebutton" mat-raisedbutton color="primary"
                            (click)="showManagers = !showManagers">Close</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="lesdeux">
                <div class="lepremier">
                    <app-product [prod]="world.products.product[3]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>
                </div>

                <div class="ledeuxieme">
                    <app-product [prod]="world.products.product[4]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>

                </div>

                <div class="ledeuxieme">
                    <app-product [prod]="world.products.product[5]" class="product col-md-6"
                        (notifyProduction)="onProductionDone($event)" (notifyPurchase)="onPurchaseDone($event)"
                        [qtmulti]="qtmulti" [money]="world.money"></app-product>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>  
</body>