#worldmoney{
   margin: 0px 0px 0px 625px;
}   

#worldname{
    margin: 0px 0px 0px 10px;
 }   


 .buybtn{
    margin: 0px 0px 0px 300px ;
 }

#test{
   background-image: url('Blackground.png');
}
 .lesdeux{
   position: relative;
   column-width: auto;
   grid-row: 200px;
   margin-top: -400px;
  
}
.ledeuxime{
   margin-top: 50px;
}

.lepremier{
   top: 10px;
}
.progressbar{
   height: 5 px;
}
.modal {
   position: fixed; /* reste en place */
   z-index: 2; /* au dessus du reste */
   width: 800px; /* largeur */
   height: 800px; /* hauteur */
   overflow: auto; /* barre de scroll si besoin */
   background-color: white; /* opaque */
   border: solid;
   top:10%; /* a 10% du haut */
   left:20%; /* a 20% de la gauche */
  }
  .hirebutton{
   bottom : 150px;
  }
  