#productname{
    font-family:'Comic Sans MS';
    color:#397946;    
}


#test{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 10px;
}

.global{
    margin-top: 50px;
}

   

